@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

html,
body {
  @apply bg-black text-white font-sans;
  margin: 0;
  padding: 0;
}

/* Move Leaflet zoom buttons to bottom left */
.leaflet-top.leaflet-left {
  top: auto !important;
  bottom: 6rem !important;
  left: 1rem !important;
}
